#dados {
  display: none;
  margin: 1% 5% 5% 5%;
}

#dados_saida {
  display: none;
  margin: 1% 5% 5% 5%;
}

.campo {
  margin: 1% 10% 1% 10%;
  width: 80%;
}

.campo label {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.3em;
  color: rgb(50, 50, 50);
  display: block;
}

.campo input,
button {
  font-family: "Arial";
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  color: rgb(50, 50, 50);
  border-radius: 5px;
}

.estaccon {
  width: 80%;
  margin: 2% 0% 2% 10%;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
  font-family: "Arial";
  font-size: 2.5em;
  border-radius: 5px;
}

.legenda {
  color: rgb(50, 50, 50);
  font-size: 1.5em;
  font-weight: 400;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.33);
}

#preco {
  display: none;
  margin: 1% 10% 1% 10%;
  width: 80%;
  border: 2px solid rgb(50, 50, 50);;
}

#saldo_est {
  display: none;
  margin: 1% 15% 1% 15%;
  width: 70%;
  border: 2px solid rgb(50, 50, 50);;
}

#valor{
  font-size: 3em;
  margin: 1%;
}

#saldo{
  font-size: 3em;
  margin: 1%;
}

#tit_sal{
  font-size: 2em;
  margin: 1%;
}

#relatorio {
  display: none;
}